body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #000;
}
a{
    position: relative;
    text-decoration: none;
    margin: auto;
    color: #21ebff;
    padding: 6px 15px;
    overflow: hidden;
    text-transform: uppercase;
}
a:hover{
    background: #43dde6;
    color: #111;
    -webkit-box-reflect:below 5px linear-gradient(transparent, #0003);
    box-shadow: 0 0 50px #21ebff;
}
a:nth-child(1){
    filter: hue-rotate(115deg);
}

a:nth-child(3){
    filter: hue-rotate(175deg);
}
a::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-top: 3px solid #21ebff;
    border-left: 3px solid #21ebff;
    width: 10px;
    height: 10px;
    transition: 0.5s;
}
a::before{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    border-right: 3px solid #21ebff;
    border-bottom: 3px solid #21ebff;
    width: 10px;
    height: 10px;
    transition: 0.5s;
}

a:hover::after{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
a:hover::before{
    width: 100%;
    height: 100%;
    overflow: hidden;       
   
}

