*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #222;
}
.container{
    position: relative;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
    
}
.container .card{
    position: relative;
    height: 250px;
    width: 45%;
    background: #fff;
    display: flex;
    margin: 20px 0;
}
.container .card .imgbx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;  
    overflow: hidden;
    transition: 0.5s ease-in-out;
}
.container .card:hover .imgbx{
    width: 150px;
    height: 150px;
    left: -75px;
    top: calc(50% - 75px);
    background: #dd0057;
    transition: 0.5s ease-in-out;
}
.container .card .imgbx::before{
    content:attr(data-text);
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 6em;
    color: rgba(255,255,255,0.06);
    font-weight: 900;
    text-align: center;
    width: 100%;
}

.card .imgbx img{
    max-width: 100px;
    transform: translateY(-20px);
    transition: 0.5s ease-in-out;
}
.card:hover .imgbx img{
    max-width: 70px;
    transform: translateY(0);
    transition: 0.5s ease-in-out;
}
.container .card .content{
    position: absolute;
    right: 0;
    width:  calc(100% - 75px);
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.content h3{
    margin-bottom: 5px;
    font-size: 25px;
}
.content a{
    display: inline-block;
    margin-top: 15px;
    padding: 5px 10px;
    background: #333;
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease;
}
.content a:hover{
    background-color: #dd0057;

}
@media (max-width:992px){
    .container{
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: center;
    }
    .container .card{
        width: 400px;
    }

}
@media (max-width:768px){
    .container .card{
        max-width: 300px;
        flex-direction: column;
        height: auto;
    }
   
    .container .card .imgbx,
    .container .card:hover .imgbx{
         position: relative;
         left: 0;
         width: 100%;
         height: 200px;
         
    }
    .container .card .imgbx img,
    .container .card:hover .imgbx img{
        max-width: 100px;
    }
    .container .card:hover .content{
        position: relative;
        width: 100%;
        
    }

}





/* 
  .container{
      position: relative;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
    }
      
      .card{
          position:relative;
          display: flex; // imgbx and content pashapashi jate ashe
      }
      .imgbx{
        position: absolute;
         display:  hidden;
         disply , justify-content, align-items=> to center img

      }


      .card .imgbx img{
    max-width: 100px;}



      .container .card .imgbx::before{
    content:attr(data-text);
    width: 100%;
    text-align: center;



    .container .card .content{
    position: absolute;
    right: 0;
    width:  calc(100% - 75px);



    .content a{
    display: inline-block;
    }

*/




